@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'Lobster Two';
    src: url(font/Lobster_Two/LobsterTwo-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(font/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url(font/Montserrat_Alternates/MontserratAlternates-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat Alternates Bolder' ;
    src: url(font/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf) format('truetype');
}

header{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    margin-left: -60px;
}

nav{
    margin-left: -32px;
}

a{
    margin-right: 8px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bolder;
    color: #DB7582;
    
}

a:hover{
    color: #1FB58F;
    transition: .2s;
}

main{
    width: 1052px;
    margin: 0 auto;
    border-radius: 20px;
    border: solid 4px #B37D4E;
    background-color: #DB7582;
       
}

section{
    background-color: white;
    padding: 12px;
    margin: 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
    
}

h1{
    margin: 0 auto;
    padding: 12px;
    color: #DB7582;
    font-family: 'Lobster Two';
    font-size: 32px;

}

p{
    padding: 4px;
    line-height: 1.2em;
    font-family: 'Poppins';
}

h2{
    font-family: 'Montserrat Alternates Bolder';
    font-size: 24px;
    color: #DB7582;
}

.direita{
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between; 
    margin: 12px 0 12px 0;
    padding: 12px;
    border-radius: 20px;

}

.esquerda{
    display: flex;
    justify-content: space-between;
    background-color: #DB7582;
    margin: 12px 0 12px 0;
    padding: 12px;
    border-radius: 20px;
    color: white;

}

.claura{
    color: white;
}

img{
    border-radius: 20px;
}

div{
    width: 650px;
    padding: 12px;
}

.inicio{
    width: auto;
}



button{
    background-color: #B37D4E;
    color: white;
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-weight: bolder;
    border-radius: 12px;
    border: solid #B37D4E;
    padding: 8px;
    width: 600px;
    margin: 0 auto;
}

button:hover{
    color: #1FB58F;
    font-family: 'Montserrat Alternates Bolder';
    transition: .4s;
    background-color: #EEB6B7;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.253);
}




footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: 'Montserrat Alternates Bolder';
    font-size: 12px;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px){
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 735px;
    }

    main{
        width: 733px;
        margin: 0 auto;
        
    }

    div{
        width: 300px;
    }

    section{
       margin-bottom: 12px;
    }

    button{
        width: 380px;
    }

    h1{
        width: 600px;
        align-items: center;
    }

    

    
    
   
    
}

