@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    margin-right: 8px;
}

main{
    width: 1052px;
    margin: 0 auto;
    border-radius: 20px;
    border: solid #B37D4E;
    background-color: #DB7582;
    margin-bottom: 12px;
}

.sec1{    
    display: flex;
    justify-content: space-between;    
    padding: 20px;
}

div{
    margin: 12px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2{
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;    
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


