@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'Lobster Two';
    src: url(font/Lobster_Two/LobsterTwo-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(font/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url(font/Montserrat_Alternates/MontserratAlternates-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat Alternates Bolder' ;
    src: url(font/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf) format('truetype');
}

header{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    margin-left: -60px;
}

nav{
    margin-left: -32px;
}

a{
    margin-right: 8px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bolder;
    color: #DB7582;
    
}

a:hover{
    color: #1FB58F;
    transition: .2s;
}

main{
    width: 1052px;
    margin: 0 auto;
    border-radius: 20px;
    border: solid #B37D4E;
    background-color: #DB7582;
    margin-bottom: 24px;
}

.sec1{    
    display: flex;
    justify-content: space-around;    
    padding: 20px;
    color: white;
}

.h1sec1{
    font-family: 'Lobster Two';
    font-size: 28px;
    margin-bottom: 24px;
    margin-top: -16px;
}

.psec1{
    font-family: 'Poppins';
    font-size: 20px;
    padding: 12px;
    margin-bottom: 24px;
}

button{
    background-color: #B37D4E;
    color: white;
    font-family: 'Montserrat Alternates' ;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 12px ;
    border: solid #B37D4E;
    padding: 12px;
    width: 282px;
}

button:hover{
    color: #1FB58F;
    font-family: 'Montserrat Alternates Bolder';
    transition: .4s;
    background-color: #EEB6B7;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.253);
    
}

div{
    margin: 12px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2{
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;    
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.divsec2{    
    align-items: start;
}

.h1sec2{
    font-family: 'Montserrat Alternates Bolder';
    font-size: 24px;
    color: #DB7582;
    padding-bottom: 12px;
}

.psec2{
    font-family: 'Poppins';
    line-height: 1.72em;
}

strong{
    font-family: 'Montserrat Alternates Bolder';
    color: #DB7582;
}

.picsec{
    border-radius: 12px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

@media (max-width:300px){
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 735px;
    }

    nav{
        margin-top: 12px;
        margin-bottom: 32px;
    }

    main{
        width: 733px;
        margin: 0 auto;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }


    .h1sec1 {
        font-family: 'Lobster Two';
        font-size: 24px;
        margin-bottom: 8px;
        margin-top: -16px;
    }
    
    .psec1 {
        font-family: 'Poppins';
        font-size: 16px;
        padding: 12px;
        margin-bottom: 28px;
    }

    .psec2 {
        font-family: 'Poppins';
        line-height: 1.72em;
        font-size: 14px;
    }

    footer{
        width: 699px;
        margin-top: 100px;

        
    }   
    
}

@media (max-width:600px){
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 735px;
    }

    nav{
        margin-top: 12px;
        margin-bottom: 32px;
    }

    main{
        width: 733px;
        margin: 0 auto;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }


    .h1sec1 {
        font-family: 'Lobster Two';
        font-size: 24px;
        margin-bottom: 8px;
        margin-top: -16px;
    }
    
    .psec1 {
        font-family: 'Poppins';
        font-size: 16px;
        padding: 12px;
        margin-bottom: 28px;
    }

    .psec2 {
        font-family: 'Poppins';
        line-height: 1.72em;
        font-size: 14px;
    }

    footer{
        width: 699px;
        margin-top: 100px;

        
    }   
    
}


@media (max-width:800px){
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 735px;
    }

    nav{
        margin-top: 12px;
        margin-bottom: 12px;
    }

    main{
        width: 733px;
        margin: 0 auto;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }


    .h1sec1 {
        font-family: 'Lobster Two';
        font-size: 24px;
        margin-bottom: 8px;
        margin-top: -16px;
    }
    
    .psec1 {
        font-family: 'Poppins';
        font-size: 16px;
        padding: 12px;
        margin-bottom: 28px;
    }

    .psec2 {
        font-family: 'Poppins';
        line-height: 1.72em;
        font-size: 14px;
    }

    footer{
        width: 699px;
        margin-top: 100px;

        
    }

    
    
}